.article{
  padding: 3em 3em 1em 3em;
  background: #fff;
  border: 1px solid rgba(160,160,160,0.3);
  margin: 0 0 2em 0;
  position: relative;
  width: 65em;

  h2{
    margin: 0;
  }

  code{
    background-color: #333333;
    color: #FFF;
    padding: .75em;
  }

  hr{
    height: 1px;
    background-color: rgba(160,160,160,0.3);
    width: 100%;
    border: none;
  }
}

.articleList{
  padding: 3em 3em 1em 3em;
  background: #fff;
  border: 1px solid rgba(160,160,160,0.3);
  margin: 0 0 2em 0;
  position: relative;
  display: flex;
  max-height: 20em;
  overflow: hidden;

  &__image{
    width: 20%;
    border-bottom: rgba(160,160,160,0.3);
    position: relative;

    img{
      width: 15em;
    }
  }
  &__summary{
    width: 80%;
    margin-left: 3em;
    border-bottom: rgba(160,160,160,0.3);
    position: relative;

    h2{
      font-size: 1.3em;
      font-weight: bold;
      margin: 0;
    }
  }

  &__list{
    transition: .5s;

    &:hover{
    box-shadow: 2px 2px 4px -2px gray;
    transform: translateY(-5px);
    }
  }
}

@media screen and (max-width:768px) {

  .articleList{
    flex-wrap: wrap;
    max-height: none;
    
    &__image{
      width: 100%;
      order: 2;
      
      img{
        width: 50%;
      }
    }
    
    &__summary{
      width: 100%;
      order: 1;
      margin-left: 0;
    }
  }


 
}
