@import "../../styles/utils/utils.module.scss";

.article{
  @include mainContainer();

  h2{
    margin: 0;
  }

  hr{
    height: 1px;
    background-color: rgba(160,160,160,0.3);
    width: 100%;
    border: none;
  }
}

.articleList{
  @include mainContainer();
  display: flex;
  max-height: 20em;

  &__image{
    width: 20%;
  }

  &__summary{
    width: 80%;
    margin-left: 3em;

    h2{
      font-size: 1.3em;
      font-weight: bold;
      margin: 0;
    }
  }

  &__list{
    transition: .5s;
  
    &:hover{
    box-shadow: 2px 2px 4px -2px gray;
    transform: translateY(-5px);
    }
  }
}

@media screen and (max-width:768px) {

  .articleList{
    flex-wrap: wrap;
    max-height: none;
    
    &__image{
      width: 100%;
      order: 2;
      
      img{
        width: 50%;
      }
    }
    
    &__summary{
      width: 100%;
      order: 1;
      margin-left: 0;
    }
  }
 
}
