@import "../utils/utils.module.scss";

.container{
  @include mainContainer();

  .categoryList{
    list-style-type: none;

    &__item{
      margin: 1em 0;
      border-bottom: $baseBorder;
    }
  }
}